/* Custom 3D Perspective */
.perspective-1000 {
    perspective: 1000px;
}

:host {
    display: block;
    min-height: 100vh;
}

/* Animations for Easter Egg 'Glitch' Effect */
@keyframes glitch-1 {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        transform: translate(0);
    }

    20% {
        clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
        transform: translate(-5px, 5px);
    }

    40% {
        clip-path: polygon(0 40%, 100% 40%, 100% 85%, 0 85%);
        transform: translate(5px, -5px);
    }

    60% {
        clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
        transform: translate(5px, 5px);
    }

    80% {
        clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0 100%);
        transform: translate(-5px, -5px);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        transform: translate(0);
    }
}

@keyframes glitch-2 {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
        transform: translate(0);
    }

    20% {
        clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
        transform: translate(5px, -5px);
    }

    40% {
        clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
        transform: translate(-5px, 5px);
    }

    60% {
        clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
        transform: translate(5px, 5px);
    }

    80% {
        clip-path: polygon(0 30%, 100% 30%, 100% 40%, 0 40%);
        transform: translate(-5px, -5px);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
        transform: translate(0);
    }
}

.animate-glitch-1 {
    animation: glitch-1 0.4s infinite linear alternate-reverse;
}

.animate-glitch-2 {
    animation: glitch-2 0.3s infinite linear alternate-reverse;
}

@keyframes fall {
    0% {
        top: -10%;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        top: 110%;
        opacity: 0;
    }
}

.animate-fall-1 {
    animation: fall 3s linear infinite;
}

.animate-fall-2 {
    animation: fall 5s linear infinite;
    animation-delay: 1s;
}

.animate-fall-3 {
    animation: fall 4s linear infinite;
    animation-delay: 2s;
}